%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th ID
      %th Serial Number
      %th Longitude
      %th Latitude
      %th Address
      %th Actions

  %tbody
    - devices.each do |device|
      %tr
        %td= device.id
        %td= device.serial_number
        %td= device.collected_measurements.last.longitude rescue "-"
        %td= device.collected_measurements.last.latitude  rescue "-"
        %td= "Address geodecoded"
        %td= link_to "Show in Map", user_device_location_path(:device_id => device.id), :class => "btn btn-small btn-success"

= link_to "Register Device", register_device_user_devices_path, :class => "btn btn-small btn-info"
= link_to "Show all in Map", location_user_devices_path(:all => true), :class => "btn btn-small btn-success"

