%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Serial Number
      %th Longitude
      %th Latitude
      %th Address
      %th Actions

  %tbody
    - devices.each do |device|
      %tr
        %td= device.serial_number
        %td= device.collected_measurements.last.longitude rescue "-"
        %td= device.collected_measurements.last.latitude  rescue "-"
        %td= "Address geodecoded"
        %td
          = link_to "Show in Map", user_device_location_path(:device_id => device.id), :class => "btn btn-small btn-success"


          .btn-group
            %a.btn.btn-small.btn-info.dropdown-toggle(data-toggle="dropdown" href="#")
              Tracker
              %span.caret
            %ul.dropdown-menu
              %li
                - if device.traced_routes.blank? || (device.traced_routes.last.state == "finished")
                  = link_to("Start Tracking", user_device_start_tracking_path(:device_id => device.id)) 
                - else
                  = link_to("Finish Tracking", user_device_finish_tracking_route_path(:device_id => device.id)) unless device.traced_routes.last.state != "pending"
                  = link_to("Cancel Tracking", user_device_cancel_tracking_route_path(:device_id => device.id))
              %li
                = link_to "Show Traced Routes", user_device_traced_routes_path(:device_id => device.id)




          
= will_paginate devices

= link_to "Register Device", register_device_user_devices_path, :class => "btn btn-small btn-info"
= link_to "Show all in Map", location_user_devices_path(:all => true), :class => "btn btn-small btn-success"

