.container
     
  .row-fluid
    .span12
      %center
        %h1
          How it works
  %br
  %br 
  .row-fluid
    .span2
    .span2.login
      %h1 1
    .span8
      .span6.text-left
        %h4
          = t("frontend.how_it_works.step1")
      .span2
        = image_tag "form.jpeg", :class => "img-polaroid", :style => "width: 100px;"
  %br
  %br 
  .row-fluid
    .span2
    .span2.login
      %h1 2
    .span8
      .span2
        = image_tag "budget.jpeg", :class => "img-polaroid", :style => "width: 100px;"
      .span6.text-right
        %h4
          = t("frontend.how_it_works.step2")
  %br
  %br 
  .row-fluid
    .span2
    .span2.login
      %h1 3
    .span8
      .span6.text-left
        %h4
          = t("frontend.how_it_works.step3")
      .span2
        = image_tag "gps.jpg", :class => "img-polaroid", :style => "width: 100px;"

  %br
  %br 
  .row-fluid
    .span1
    .span10
      #wrapper
        %div(class="slider-wrapper theme-default")
          %div(id="slider" class="nivoSlider")
            = image_tag "gps_diagram.gif"
    .span1
 
  %br
  %br