

.container
     
  .row-fluid
    .span12
      %center
        %h1
          = t "project.title"
      %center
        %h5
          = t("frontend.home.subtitle")
  %br
  %br
  .row-fluid
    .span1
    .span10
      #wrapper
        %div(class="slider-wrapper theme-default")
          %div(id="slider" class="nivoSlider")
            %img(src="assets/slide2_NH.jpg")
            %img(src="assets/gps.png")
            %img(src="assets/dubare-elephant-camp-coorg.jpg")

    .span1
  .row-fluid
    .span1
    .span5
      %h2
        = t "frontend.home.what_is"
      %p
        = t "frontend.home.what_is_content"
    .span5
      %h2
        = t "frontend.home.how_does_it_works"
      %p
        = t "frontend.home.how_does_it_works_content_1"
        = t "frontend.home.how_does_it_works_content_2"
        
      %p
        = t "frontend.home.how_does_it_works_content_3"
    .span1
  %br
  .row-fluid
  %br
  .row-fluid
    .span4
      %center
        %img(src="assets/location.png" alt="" width="100px")
        %h3
          = t "frontend.home.gps_tracking"
      %p
        = t "frontend.home.gps_tracking_content"

    .span4
      %center
        %img(src="assets/monotone_earth_world_transparent.png" alt="" width="100px")
        %h3
          = t "frontend.home.data_analysis"
      %p
        = t "frontend.home.data_analysis_content"
    .span4
      %center
        %img(src="assets/monotone_graph_chart.png" alt="" width="100px")
        %h3
          = t "frontend.home.graphics_generator"
      %p
        = t "frontend.home.graphics_generator_content"

  %br
  %br

