.container
     
  .row-fluid
    .span12
      %center
        %h1
          Pricing

  .row-fluid
    .span4
      %center
        %h3
          $99
      %center
        6 Months Subscription.    
    .span4
      %center
        %h3
          $199
      %center
        1 yr. Subscription
    .span4
      %center
        %h3
          $259
      %center
        2 yr. Subscription
  %br
  %br
    .row-fluid
      .span4
        %center
          %img(src="/assets/location.png" alt="" width="100px")
          %h3
            = t "frontend.home.gps_tracking"
        %p
          = t "frontend.home.gps_tracking_content"

      .span4
        %center
          %img(src="/assets/monotone_earth_world_transparent.png" alt="" width="100px")
          %h3
            = t "frontend.home.data_analysis"
        %p
          = t "frontend.home.data_analysis_content"
      .span4
        %center
          %img(src="/assets/monotone_graph_chart.png" alt="" width="100px")
          %h3
            = t "frontend.home.graphics_generator"
        %p
          = t "frontend.home.graphics_generator_content"
  %br
  %br