%h2 Measurement Variables History




.container


  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Device Serial
        %th Date
        %th Time
        %th Variable 1
        %th variable 2
        %th Variable 3
        %th Acciones
    %tbody
      %tr
        %td 1000028731 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028734 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028733 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028732 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028731 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028734 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028733 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028732 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028731 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028734 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028733 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028732 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028731 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028734 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028733 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028732 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"
      %tr
        %td 1000028731 
        %td 30/01/13
        %td 10:00 AM
        %td 32˙C
        %td 0.58
        %td 1.50
        %td= link_to "Detalles", "#"

  = link_to "Back", user_dashboard_path, :class => "btn"     
  = link_to "Generate Graph", user_generate_graph_path, :class => "btn btn-info"