.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .container.nav-collapse
        %ul.nav
          %li
            = link_to t("menu.home"), root_path
          %li
            = link_to "Pricing", user_pricing_path
          %li
            = link_to "How it Works", user_how_it_works_path
          %li
            = link_to "Contact Us", user_contact_us_path
          %li
            = link_to "FAQ", user_help_path
        %ul(class="nav pull-right")
          - if current_user || current_administrator
            %li
              = link_to t("common.my_account"), user_dashboard_path if current_user
              = link_to t("common.my_account"), administrator_dashboard_path if current_administrator
            %li
              = link_to t("common.sign_out"), destroy_user_session_path if current_user
              = link_to t("common.sign_out"), destroy_administrator_session_path if current_administrator
          - else
            %li
              = link_to t("common.my_account"), new_user_session_path
          
/ = content_for :javascript do
/   :javascript
/     $(".#{current_controller}_controller").addClass("active");
/     $(".#{I18n.locale}_locale").addClass("active");
/   - if search?
/     :javascript
/       $("#search_button").click(
/         function()
/         {
/           $("#search_form").submit();
/         }
/       );
